---
---

@import "{{ site.theme }}";
body
{
    font-family: open-sans, sans-serif !important;
    font-size: 13pt !important;
    color: #404040 !important;
}
body a
{
    color: #000000 !important;
    text-decoration: underline !important;
}
body a:hover
{
    color: #808080 !important;
    text-decoration: underline !important;
}
h1
{
    font-family: league-gothic, sans-serif !important;
    font-weight: 700 !important;
    font-size: 62pt !important;
    line-height: 54pt !important;
    color: #000000 !important;
}
h2
{
    padding-top: 35px !important;
    padding-bottom: 10px !important;
    font-family: league-gothic, sans-serif !important;
    font-weight: 700 !important;
    font-size: 36pt !important;
    color: #000000 !important;
}
